# Pandas

### The pandas library is the de facto standard for data-oriented Python applications. 

### The library includes two data structures: the Series, which is 1D, and the DataFrame, which is 2D. While the DataFrame is the primary pandas data structure, a DataFrame is actually a collection of Series objects.

# Creating a Series
### Here’s how you create a Series from a Python list:

In [5]:
import pandas as pd
data = ['Jeff Russell','Jane Boorman','Tom Heints']
emps_names = pd.Series(data)
print(emps_names)

0    Jeff Russell
1    Jane Boorman
2      Tom Heints
dtype: object

### The dtype attribute indicates the type of the underlying data for the given Series. By default, pandas uses the data type object to store strings.

#### Common Pandas dtypes:
#### 1. int64: For integer numbers.
#### 2. float64: For floating-point numbers (decimals).
#### 3. object: For text/string data or mixed types.

### You can create a Series with user-defined indices as follows:

In [17]:
data = ['Jeff Russell','Jane Boorman','Tom Heints']
emps_names = pd.Series(data,index=[9001,9002,9003])
print(emps_names)

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
dtype: object

In [25]:
print(type(emps_names))

<class 'pandas.core.series.Series'>

### Accessing Data in a Series
#### To access an item in a Series, specify the Series name followed by the element’s index within square brackets, as shown here:

In [40]:
print(emps_names[9001])

Jeff Russell

### Alternatively, you can use the .loc property of the Series object: 

### You can access multiple elements by their indices with a slice operation, as discussed in Chapter 2:

In [46]:
print(emps_names.loc[9001])

Jeff Russell

In [48]:
print(emps_names.loc[9001:9003])

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
dtype: object

In [52]:
print(emps_names[0:3])

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
dtype: object

## Combining Series into a DataFrame

### Multiple Series can be combined to form a DataFrame. Let’s try this by creating another Series and combining it with the emps_names Series:

In [98]:
# Create New Tuple list
data = ['jeff.russell','jane.boorman','tom.heints']

# Convert Tuple itno Pandas Series + Name Series
emps_emails = pd.Series(data,index=[9001,9002,9003], name =
'emails')

# Name The Series Before concatenating
emps_names.name = 'names'

# Specify axis=1 to concat along the colums
df = pd.concat([emps_names,emps_emails], axis=1)
print(df)

             names        emails
9001  Jeff Russell  jeff.russell
9002  Jane Boorman  jane.boorman
9003    Tom Heints    tom.heints

### Note: 

### axis=0 stacks vertically (rows) and requires matching columns; if used incorrectly, concat will either fail with a shape mismatch or just append values in one long column. 

### Use axis=1 to align side by side (columns).

### # Example of What Miss using axis

In [92]:
df = pd.concat([emps_names,emps_emails], axis=0)
print(df)

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
9001    jeff.russell
9002    jane.boorman
9003      tom.heints
dtype: object

# EXERCISE #3: COMBINING THREE SERIES

In [133]:
# Create New List
emps_phones = [2517531364, 2516484611, 2513826112]

# Convert List To Pandas Series 
emps_phones = pd.Series(emps_phones,index=[9001,9002,9003], name =
'phones')

df = pd.concat([emps_names,emps_emails,emps_phones], axis=1)
print(df)

             names        emails      phones
9001  Jeff Russell  jeff.russell  2517531364
9002  Jane Boorman  jane.boorman  2516484611
9003    Tom Heints    tom.heints  2513826112